* {
  box-sizing: border-box;
  font-family: "Nunito Sans", sans-serif;
  margin: 0;
  padding: 0;
  width: 100%;
}

body {
  display: flex;
  flex-direction: column;
}

.section-one {
  background-color: #1f2937;
  display: flex;
  flex-direction: column;
  padding: 10px 100px 70px;
}

.section-one,
img {
  color: #f9faf8;
}

.hero-secondary,
.header-links {
  font-size: 18px;
  color: #e5e7eb;
}

.links {
  display: flex;
}

.header-links {
  display: flex;
  list-style: none;
  padding-bottom: 70px;
}

.header-links a {
  text-decoration: none;
  color: #e5e7eb;
}

#header-logo a {
  font-size: 24px;
  color: #f9faf8;
}

.hero {
  display: flex;
  gap: 30px;
}

.hero-main {
  font-size: 48px;
  font-weight: 800;
}

.sign-up {
  max-width: 100px;
  height: 30px;
  margin-top: 10px;
  background-color: #3882f6;
  color: #e5e7eb;
  font-weight: bolder;
  border: none;
  border-radius: 8px;
}

.container-two {
  display: flex;
  justify-content: end;
}

.hero-image {
  display: flex;
  justify-content: center;
  align-items: center;
  background: gray;
  font-size: 20px;
  width: 600px;
  height: 200px;
  margin-right: 50px;
}

.section-two {
  display: flex;
  flex-direction: column;
}

.section-two h2 {
  text-align: center;
  font-size: 36px;
  font-weight: 800;
  margin: 30px;
}

.container-three {
  display: flex;
  justify-content: center;
}

.info {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  max-width: 190px;
  gap: 10px;
}

.info-image {
  width: 150px;
  height: 140px;
  border: 3px solid #3882f6;
  border-radius: 10px;
}
